
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>BABA~J TECH Inspiration #WEAREFAMILY</p>
  </div>
</div>
<script type="text/javascript">
  function makeSound(){

    let beat = new Audio('/sounds/sent.mp3');
    beat.play();
}
  document.querySelector("#publish").addEventListener("click", function(){
    makeSound();
  });
</script>

</body>
</html>
