<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">


  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WEAREFAMILY JOURNAL</a>
      <div class="logo">
        <img class="family" src="/images/WEAREFAMILY.png" alt="WEAREFAMILY image">
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <ul class="navbar-nav me-auto">
          <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">HOME</a></li>
          <li class="nav-item"><a class="nav-link" href="/compose">COMPOSE</a></li>
          <li class="nav-item"><a class="nav-link " href="/about">ABOUT</a></li>

        </ul>



      </div>
    </div>
  </nav>
<script type="text/javascript">
  function makeSound(){

    let beat = new Audio('/sounds/sent.mp3');
    beat.play();
}
  document.querySelector("#publish").addEventListener("click", function(){
    makeSound();
  });
</script>
</head>
<body>
  <div class="container">
