<%- include("partials/header"); -%>
<br>
<br>
<div class="container-lg">
  <div class="w-100 p-3 head">
    <h2><%=startingContent.title%></h2>
    <p><%=startingContent.posts%></p>
  </div>
</div>

<br>

<%- include("partials/footer"); -%>
